<!-- css/styles.css of 2026-jan.bauska.org -->
<!-- was: font-family:'Bradley Hand', cursive, 'OCR A Std', monospace, Helvetica; -->
body {
  font-family:Helvetica, 'Bradley Hand'; cursive, 'OCR A Std', monospace;
}
table {
  table-layout:fixed;
  width:70%;
}
.month-header {
  background-image:url("https://2026-jan.bauska.org/images/mst3k-chicks-600.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#fff;  /* white */
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* pure (or mostly pure) yellow, eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}
.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}
<!-- added 6-10-25 5:08pm -->
.container {
  background-color: #ffffff;  /* white */
  border: 2px solid #dcdcdc;  /* very light gray */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #4169e1;  /* royalblue */
  text-decoration: none;
  position: relative;
  padding-right:50px;  /* 6-23-2025 */
  font-family: Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #990000;  /* crimson */
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: #990000;  /* crimson */
}
a:hover::after {
  width: 88%;
}

<!-- World, National & International Days --><!-- added 6-10-25 5:08pm -->
.container {
  background-color: #ffffff;  /* white */
  border: 2px solid #dcdcdc;  /* very light gray */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: #4169e1;  /* royalblue */
  text-decoration: none;
  position: relative;
  padding-right:50px;  /* 6-23-2025 */
  font-family: Helvetica, Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #990000;  /* crimson */
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: #990000;  /* crimson */
}
a:hover::after {
  width: 88%;
}

<!-- World, National & International Days -->
.new-years {
    background-color:#f1bdbd;  /* very soft red */
}
.natl-spaghetti {
    background-color:#c2e7e7;  /* light grayish cyan */
}
.natl-bird {
    background-color:#e0cb97;  /* very soft orange */
}
.golden-globe {
    background-color:#ffe6cd;  /* very pale orange */
}
.natl-bobblehead {
    background-color:#ffcde6;  /* very pale pink */
}
.law-enforcement-apprec {
  background-color:#cecece;  /* light gray */
}
.natl-milk {
    background-color:#d3d3d3;  /* very light gray */
}
.human-trafficking {
  background-color:#89ff89;  /* very light lime green */
}
.randy-bd {
  background-color:#ff8080;  /* vivid red */
}
.kiss-ginger {
    background-color:#bf80ff;  /* very light violet */
}
.natl-hat {
    background-color:#ffd9b4;  /* pale orange */
}
.religious-freedom {
  background-color:#c591ff;  /* very light violet */
}
.winnie-the-pooh {
    background-color:#ffe6b4;  /* pale orange */
}
.ml-king {
    background-color:#d96b6b;  /* soft red */
}
.natl-popcorn {
    background-color:#ff9999;  /* very light red */
}
.natl-hug {
    background-color:#98fb98;  /* very soft lime green */
}
.natl-pie {
    background-color:#a6f4ff;  /* pale cyan */
}
.intl-day-of-education {
    background-color:#60ff60;  /* light lime green */
}
.natl-compliment {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.natl-peanutbutter {
    background-color:#be93e8;  /* very soft violet */
}
.robert-burns {
    background-color:#d3d3d3;  /* light gray */
}
.australia {
    background-color:#60ff60;  /* light lime green */
}
.data-privacy {
    background-color:#a6f4ff;  /* pale cyan */
}
.kansas {
    background-color:#60ff60;  /* light lime green */
}
.natl-croissant {
    background-color:#ff9999;  /* very light red */
}
.natl-hot-chocolate {
    background-color:#00ff00;  /* pure lime green */
}
