<!-- css/styles.css of 2026-jan.bauska.org -->
body {
  font-family:Helvetica;
}
table {
  table-layout:fixed;
  width:70%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.month-header {
  background-image:url("https://2026-jan.bauska.org/images/mst3k-chicks-600.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

h1 {
  color:#FFF;
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}

.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
    font-size:75%;
    list-style:none;
    padding-left:20px;
    padding-right:5px;
}

.event {
    border-radius:5px;
    color:#10171c;  /* very dark (mostly black) blue */
    padding:5px;
    margin:5px 0;
}

.new-years {
    background-color:#e8e193;  /* very soft yellow */
}
.natl-spaghetti {
    background-color:#c2e7e7;  /* light grayish cyan */
}
.natl-bird {
    background-color:#e0cb97;  /* very soft orange */
}
.golden-globe {
    background-color:#ffe6cd;  /* very pale orange */
}
.natl-bobblehead {
    background-color:#ffcde6;  /* very pale pink */
}
.law-enforcement-apprec {
  background-color:#cecece;  /* light gray */
}
.natl-milk {
    background-color:#d3d3d3;  /* very light gray */
}
.human-trafficking {
  background-color:#89ff89  /* very light lime green */
}
.randy-bd {
  background-color:#ff3333  /* vivid red */
}
.kiss-ginger {
    background-color:#bf80ff;  /* very light violet */
}
.natl-hat {
    background-color:#ffd9b4;  /* pale orange */
}
.religious-freedom {
  background-color:#ff6vff  /* very light magenta */
}
.winnie-the-pooh {
    background-color:#ffe6b4;  /* pale orange */
}
.ml-king {
    background-color:#d96b6b;  /* soft red */
}
.natl-popcorn {
    background-color:#ff9999;  /* very light red */
}
.natl-hug {
    background-color:#98fb98;  /* very soft lime green */
}
.natl-pie {
    background-color:#a6f4ff;  /* pale cyan */
}
.intl-day-of-education {
    background-color:#60ff60;  /* light lime green */
}
.natl-complement {
    background-color:#ffc0cb;  /* very pale red (pink) */
}
.natl-peanutbutter {
    background-color:#ffff9a;  /* pale yellow */
}
.robert-burns {
    background-color:#d3d3d3;  /* light gray */
}
.australia {
    background-color:#60ff60;  /* light lime green */
}
.data-privacy {
    background-color:#a6f4ff;  /* pale cyan */
}
.kansas {
    background-color:#60ff60;  /* light lime green */
}
.natl-croissant {
    background-color:#ff9999;  /* very light red */
}
.natl-hot-chocolate {
    background-color:#00ff00;  /* pure lime green */
}
